* {
  font-family: Montserrat, serif;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}
.container {
  background-image: url("images/back.jpg");

  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container, .edit-contact-container{
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.form-edit-contrat {
  display: flex;
  flex-direction: column;
  padding: 5px 50px;
}
.form-edit-contrat h1 {
  align-self: center;
}

.form-edit-contrat input {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  border-bottom: 1px solid white;
  padding: 23px;
  height: 20px;
  width: 400px;
  font-size: 18px;
}
.form-edit-contrat label {
  margin-top: 25px;
  margin-bottom: 5px;
}


.btn-add {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 25px;
  padding: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 75px;
}
.btn-add:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}